.integrantes {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    color: white;
    align-items: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer{
    background-color:  #2f3e46;
    height: 80px;
}

.infoextra{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    color: white;
    background-color:  #2f3e46;
}