.cardPeliculas{
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: #ebedf0;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);

}

.cardPeliculas:hover {
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.mas{
    color: blue;
}
.mas:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mostrar{
    display: block;
}
.esconder{
    display: none;
}
