/*CSS ORIENTACION VERTICAL*/
.cardPeliculasV{
    padding: 10px;
    margin-bottom: 20px;
    width: 23%;
    background: #ebedf0;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-left: 2px;
    margin-right: 2px;
}

.verticalPeliculas{
    display: flex;
    flex-direction: column;
}

.cardPeliculasV:hover {
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.imagenesV{
    height: 30rem;
    width: 18.1rem;
}

/*CSS ORIENTACION HORIZONTAL*/
.cardPeliculasH{
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 45px;
    background: #ebedf0;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    display: flex;
    width: 90%;
    flex-direction: row ;
}

.horizontalPeliculas{
    display: flex;
    flex-direction: row ;
}

.cardPeliculasH:hover {
    box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}

.imagenesH{
    height: 20rem;
    width: 14rem;
}

.infoHorizontal{
    margin-left: 15px;
    margin-right: 15px;
}

/*CSS VER MAS Y VER MENOS*/
.mas{
    color: blue;
}
.mas:hover{
    text-decoration: underline;
    cursor: pointer;
}
.mostrar{
    display: block;
}
.esconder{
    display: none;
}

