.barraNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  align-items: center;
}
.botonOrientacion{
  height: 30px;
  display: flex;
  justify-content: center;
}

.logo {
  height: 150px;
  width: 250px;
}

.menu:hover{
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.menu{
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-right: 10px;
}

.menu2{
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin-right: 25px;
}

.menu2:hover{
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

.buscador{
  width: 300px;
  margin-right: 25px;
  height: 20px;
}


.header{
    background-color: #2f3e46;
    height: 150px;
    width: 100%;
}

