/* .titulo{
    color:white;
    size: 30px;
    display: grid;
    justify-content: center;
    padding: 2rem;
} */

.logo {
  height: 150px;
  width: 150px;
  display: flex;
  padding-left: 430px;


}

header{
    background-color: #2f3e46;
};
