.barraNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  align-items: center;
}
.botonOrientacion{
  height: 30px;
  display: flex;
  justify-content: center;
}
.logo {
  height: 150px;
  width: 250px;
}

.header{
    background-color: #2f3e46;
    height: 150px;
    width: 100%;
};

