/* .titulo{
    color:white;
    size: 30px;
    display: grid;
    justify-content: center;
    padding: 2rem;
} */

.logo {
  height: 150px;
  width: 150px;

}
.menu{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

.header{
    background-color: #2f3e46;
    display: flex;
    justify-content: space-between;
    align-items: center;

};


