.popularMovies{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
    color:  #2f3e46;  
}

.vertical{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
}

.horizontal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cargando{
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    size: 10rem;
}


.botonorientacion{
    display: flex;
    align-items: left;
    margin-left: 13px;
}

.botonOrientacion{
    margin-top: 10px;
    margin-bottom: 0px;
    color:  #2f3e46;  
    font-weight: normal;

}

.botonOrientacion:hover{
    cursor: pointer;
    text-decoration: underline;
}

.botonMasTarjetas{
    margin-top: 10px;
    margin-bottom: 0px;
    align-items: center;
    color:  #2f3e46;
    text-align: center;
    font-size: 18px;
}

.botonMasTarjetas:hover{
    cursor: pointer;
    text-decoration: underline;
}



