.vertical{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    
}

.horizontal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.cargando{
    color: black;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    size: 10rem;
}

.botonOrientacion{
    margin-top: 5px;
    margin-left: 5px;
}

.zonaBoton{
    align-items: right;
    text-align: right;
}
